html{
    text-align: center;
}

*:required{
    border: thin solid blue;
}

body{
    display: inline-block;/*Todo en una caja centrada*/
    text-align: left;/*Todo lo que este en la caja alineado a la izquierda*/
}